#button {
    display: inline-block;
    background-color: #4c9a501c;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 85px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
  font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #37883A;
}

#button:hover {
    cursor: pointer;
    color: #349b39;
}

#button:active {
    color: #1f4d1a;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

